#! /usr/bin/env nextflow
// for executing without a container
params.codeDir = "${baseDir}/"

// input images are listed in this file, one image per line
params.image_file = "$baseDir/image.csv"
params.image_dir = "/astro/mwasci/tgalvin/Mosaics_GLEAMX/20180204/"
params.reference_catalogue ="/astro/mwasci/tgalvin/Mosaics_GLEAMX/20180204/GS_200-231MHz_ddmod_comp.fits"
// output directory
params.output_dir = 'results/'

// turn on a ll the juicy logging
trace.enabled = true
timeline.enabled = true
report.enabled = true
dag.enabled = true


profiles {
    common {
      singularity {
        enabled = true
        envWhitelist = 'MAALI_SINGULARITY_HOME, SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
      }

      executor {
        name = 'slurm'
        submitRateLimit = '10 sec'
        queueSize = 96
        account='mwasci'
      }

      process {
       publishDir = [path:params.output_dir, mode:'link', overwite:true]
       module = 'singularity'
       container = '/pawsey/mwa/singularity/robbie/robbie-next.sif'
      }
    }

    garrawarla {
      process {
        executor = 'slurm'
        queue = 'workq'
        cpus = 28
        memory = '360 GB'
        time = '1 h'
      }
    }

}

