#! /usr/bin/env nextflow
// for executing without a container
params.codeDir = "${baseDir}/"

// input images are listed in this file, one image per line
params.night = 'XG_D-27_20180204'
params.image_file = "$baseDir/images_${params.night}.csv"
params.catalogue_file = "$baseDir/catalogues_${params.night}.csv"
params.image_dir = "/scratch/pawsey0272/tgalvin/${params.night}/mosaic"
params.reference_catalogue ="/scratch/pawsey0272/tgalvin/${params.night}/mosaic/XG_200-231MHz_comp.fits"
params.ggsm = "GGSM_sparse_unresolved.fits"
// output directory
params.output_dir = 'results/'

// turn on a ll the juicy logging
trace {
  enabled = true
  file = "${params.night}_trace.txt"
  sep = ','
  }
timeline {
  enabled = true
  file = "${params.night}_timeline.html"
  }
report {
  enabled = true
  file = "${params.night}_report.html"
  }
dag.enabled = true


profiles {
    common {
      singularity {
        enabled = true
        envWhitelist = 'MAALI_SINGULARITY_HOME, SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
      }

      executor {
        name = 'slurm'
        submitRateLimit = '10 sec'
        queueSize = 96
        account='pawsey0272'
      }

      process {
       publishDir = [path:params.output_dir, mode:'link', overwite:true]
       module = 'singularity'
       container = '/pawsey/mwa/singularity/robbie/robbie-next.sif'
      }
    }

    zeus {
      process {
        executor = 'slurm'
        queue = 'workq'
        cpus = 28
        memory = '120 GB'
        time = '12 h'
      }
    }

    garrawarla {
      process {
        executor = 'slurm'
        queue = 'workq'
        cpus = 38
        memory = '360 GB'
        time = '6 h'
      }
    }

}

