#! /usr/bin/env nextflow
// for executing without a container
params.codeDir = "${baseDir}/"

// input images are listed in this file, one image per line
params.night = 'XG_D-27_20201001'
params.image_file = "$baseDir/images_catalogues/${params.night}_images.csv"
params.catalogue_file = "$baseDir/images_catalogues/${params.night}_catalogues.csv"
params.image_dir = "/astro/mwasci/tgalvin/Mosaic_GLEAMX_Version2/Individual_Nights_Weighting/${params.night}/"
params.reference_catalogue ="/astro/mwasci/tgalvin/Mosaic_GLEAMX_Version2/Coadd_Mosaic/IDR2_D-27_v1/XG_170-231MHz_comp_rescaled.fits"
// output directory
params.output_dir = "/astro/mwasci/tgalvin/Mosaic_GLEAMX_Version2/kross_multinight_varaibility/${params.night}/"
params.ggsm = "$GXBASE/models/GGSM_sparse_unresolved.fits"

// turn on a ll the juicy logging
trace {
  enabled = true
  file = "${params.night}_trace.txt"
  sep = ','
  }
timeline {
  enabled = true
  file = "${params.night}_timeline.html"
  }
report {
  enabled = true
  file = "${params.night}_report.html"
  }
dag {
 enabled = true
 file = "${params.night}_dag.png"
}


profiles {
    common {
      singularity {
        enabled = true
        envWhitelist = 'MAALI_SINGULARITY_HOME, SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
      }

      executor {
        name = 'slurm'
        submitRateLimit = '10 sec'
        queueSize = 96
        account='mwasci'
      }

      process {
       publishDir = [path:params.output_dir, mode:'link', overwite:true]
       module = 'singularity'
       container = "$GXCONTAINER"
      }
    }

    garrawarla {
      process {
        executor = 'slurm'
        queue = 'workq'
        cpus = 38
        memory = '360 GB'
        time = '6 h'
      }
    }

}

